* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  color: black;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.header .logo {
  color: MediumAquamarine;
  min-width: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto 0 20px;
}

.header nav {
  display: inline-flex;
  margin: 0 30px;
}

.header a {
  color: black;
  padding: 0 15px;
}

.main {
  display: flex;
  margin: 10px 50px;
}

.column {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}

.column.large{
  width: 630px;
}

.column.medium{
  width: 300px;
}

.column.small{
  width: 240px;
}

.article {
  padding: 15px;
}

.large .article {
  width: 285px;
}

#concert {
  width: 100%;
}

.navigation nav {
  background-color: WhiteSmoke;
  display: flex;
  flex-direction: column;
}

.navigation a {
  padding: 10px;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  text-decoration: none;
}

p {
  font-size: 17px;
  padding: 15px 0;
}

h1 {
   font-weight: bold;
   font-size: 40px;
   color: white;
   padding: 0 15px;
}

h2 {
   font-weight: bold;
   font-size: 30px;
   color: white;
   padding: 0 0;
}

h3 {
   font-weight: bold;
   font-size: 30px;
   padding: 0 0;
}

h4 {
   font-weight: bold;
   font-size: 16px;
   padding: 0 0;
   text-align: center;
   padding-bottom: 30px;
}

.image {
  height: 285px;
  display: flex;
  align-items: center;
}

.image h2 {
  text-align: center;
}

.image.concert {
  background-image: url('../images/img-story-main.png');
}

.image.earth {
  background-image: url('../images/img-story-2.png');
}

.image.cats {
  background-image: url('../images/img-story-1.png');
}

.image.camera {
  background-image: url('../images/img-story-3.png');
}

.image.bite {
  background-image: url('../images/img-news-bite.png');
  width: 100%;
  height: 260px;
}
